<p>login works!</p>



<form (ngSubmit)="onloginSubmit()" #loginForm="ngForm" class="loginForm">
 
  <div>
    <label for="email">Email: </label>
    <input type="email" name="useremail" id="useremail" required [(ngModel)]="loginData.email">
    <div *ngIf="loginForm.controls['useremail'].invalid && (loginForm.controls['useremail'].dirty || loginForm.controls['useremail'].touched)">
      <div *ngIf="loginForm.controls['useremail'].errors.required">Email is required.</div>
      <div *ngIf="loginForm.controls['useremail'].errors.email">Invalid email format.</div>
    </div>
  </div>

  <div>
    <label for="password">Password: </label>
    <input type="password" name="userpassword" id="userpassword" required [(ngModel)]="loginData.password">
    <div *ngIf="loginForm.controls['userpassword'].invalid && (loginForm.controls['userpassword'].dirty || loginForm.controls['userpassword'].touched)">
      <div *ngIf="loginForm.controls['userpassword'].errors.required">Password is required.</div>
    </div>
  </div>

    <button type="submit" [disabled]="loginForm.invalid">Login</button>

     <div>
        welcome {{loginData.email}} 
        your password is {{loginData.password}}
     </div>

</form>